*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
  scroll-behavior: smooth;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --background-color: #222222;
}

/********************/
/* ALGEMENE STYLING */
/********************/
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/**********/
/* HOVERS */
/**********/

.navbar .navbar-links li a:hover {
  color: #F2A516;
  transition: 0.3s;
  cursor: pointer;
}

.navbar div a img:hover {
  cursor: pointer;
}



/**********/
/* HEADER */
/**********/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

video {
  position: absolute;
  left: 0;
  top: -10em;
  z-index: 1;
  opacity: 20%;
  overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: auto;

  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0em 1em 0em;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.navbar img {
  width: 15%;
}

.navbar div {
  width: 30em;
  overflow: hidden;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  width: 30em;
}

.navbar-links li {
  font-size: 1.2em;
}

.navbar-links li a {
  transition: 0.3s;
}


.navbar-links li:nth-of-type(2),
li:nth-of-type(3) {
  margin-left: 4em;
}

article {
  width: 30em;
}


/*****************/
/* FIRST SECTION */
/*****************/
.circle_arrow_down {
  display: none;
}

.first_section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 70vh;
  align-items: center;
  z-index: 1;
}

.first_section_item_left {
  width: 30em;
}

.first_section_item_right {
  width: 30em;
}



.first_section_item_left div {
  height: 3px;
  width: 7em;
  background-color: black;
  margin-bottom: 2em;
}

.first_section_item_left i {
  color: black;
  font-size: 2em;
  transition: 0.3s;
}

.first_section_item_left i:hover {
  color: #F2A516;
  font-size: 2em;
  transition: 0.3s;
}

.first_section_item_left a:nth-of-type(2) {
  margin-left: .5em;
}

.first_section_item_left h1 {
  width: 1em;
  margin-top: 0;
  margin-bottom: .6em;
  font-weight: 400;
  font-size: 3em;
}

.first_section_item_left img {
  position: absolute;
  z-index: -15;
  width: 25em;
  margin-top: -5em;
  margin-left: 20em;
}

.first_section_item_right p {
  text-align: end;
  font-size: 1.2em;
}


.first_section_item_right p:first-of-type {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: .2em;

}

.first_section_item_right p:nth-of-type(2) {
  margin-top: 0;
  font-size: 1.5em;
}

/******************/
/* SECOND SECTION */
/******************/

.second_section {
  background-color: #F2A516;
  z-index: 10;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.second_section_item_left {
  margin: 0;
  width: 30em;
}


.second_section_item_left h2,
h3 {
  font-weight: 600;
  margin-bottom: .5em;
}


.second_section_item_left p {
  margin-bottom: 3em;
}

.second_section_item_left div {
  height: 3px;
  width: 3em;
  background-color: black;
  margin-bottom: 2em;

}

.second_section_item_right {
  display: flex;
  justify-content: flex-end;
  width: 30em;
}

.second_section_item_right img {
  width: 65%;
}

svg {
  width: 3em;
}

svg:nth-of-type(2),
svg:nth-of-type(3),
svg:nth-of-type(4) {
  margin-top: 1em;
  margin-left: .8em;
}

/*****************/
/* THIRD SECTION */
/*****************/

.grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-hover {
  overflow: hidden;
  position: relative;
  transition: .3s;
  filter: drop-shadow(1.2em 1.2em 2em rgb(208, 208, 208));

}

.grid-container a {
  transition: .3s;
  background-color: white;
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;


}

.grid-container img {
  width: 50%;
  cursor: pointer;
  transition: .5s;
}

.grid-hover p {
  position: absolute;
  z-index: 112;
  top: 1em;
  left: 2em;
  color: #99000000;
  font-size: 1.7em;
  font-weight: 600;
  transition: .5s;
}

.grid-container .grid-hover p {
  width: 13em;
}

.hover-zoom:hover {
  filter: brightness(80%);
  transition: .5s;
}

.hover-zoom {
  transition: .5s;
}

.hover-zoom:hover {
  transform: scale(1.1);
  transition: .5s;
}

.grid-hover:hover p {
  transition: .5s;
  color: black;
  transform: scale(1.05);
}

.grid-hover a:hover {
  transition: 1s;
  filter: blur(2px);
}


@media (min-aspect-ratio: 16/9) {
  .grid-container {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .grid-container {
    width: auto;
    height: auto;

  }
}

@media (min-aspect-ratio: 1/1) {
  .grid-container img {
    width: 35%;
    height: auto;
  }
}

@media (max-aspect-ratio: 1/1) {
  .grid-container img {
    width: 70%;
    height: auto;
  }
}

/**********/
/* FOOTER */
/**********/

footer {
  z-index: 1;
  background-color: #26272b;
  color: #737373;
}

.about h6,
.links h6 {
  font-size: 1.17em;
  font-weight: 600;
  color: white;
  margin: 1.5em 0em 1em 0em;
}

footer ul li a {
  color: #737373;
}

footer ul li:last-of-type {
  margin: 0;
}

.about {
  margin-bottom: 1em;
}

.footer-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.copyright-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 1.5em 0 1.5em 0;
  background-color: #202024;
  color: #737373;
  height: 100%;
}

.copyright-text,
.social-icons {
  width: 30em;
}

.copyright-container i{
  color: #737373;
  transition: 0.3s;
}

.copyright-container i:hover {
  color: #e1e1e1;
  transition: 0.3s;
  
}

.copyright-text p {
  margin: 0;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.social-icons ul {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}

.social-icons ul li a {
  margin-left: .5em;
}

.about,
.links {
  width: 30em;
}


.links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.links li {
  margin-bottom: .3em;
}

.links a {
  transition: 0.3s;
  cursor: pointer;
}

.links li a:hover {
  transition: 0.3s;
  color: white;
}

/*************/
/* HAMBURGER */
/*************/
.toggle-button {
  position: absolute;
  z-index: 10;
  top: 1.5em;
  right: 2em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.toggle-button .bar0,
.bar1,
.bar2 {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 2em;
  transition: .1s;
}

.mobile-nav {
  opacity: 0;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (max-width: 600px) {
  video {
    display: none;
  }

  .first_section.active {
    transition: .5s;
    filter: blur(10px);
  }

  .second_section.active {
    filter: blur(10px);
  }

  .third_section.active {
    filter: blur(10px);
  }

  .footer.active {
    filter: blur(10px);
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;

  }

  .navbar-links li:nth-of-type(2),
  li:nth-of-type(3) {
    margin: 0;
  }

  .navbar {
    z-index: 21;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    background-color: #f1f1f1f9;
    padding: 0;
    top: 0;
    transition: .5s;

  }

  .navbar img {
    width: 3.5em;
    margin: .5em 2em .5em 2em;

  }

  .bar0.active {
    transform: rotate(-45deg) translate(-7px, 7px);
    transition: .1s;
  }

  .bar1.active {
    display: none;
    transition: .1s;
  }

  .bar2.active {
    transform: rotate(45deg) translate(-8px, -8px);
    transition: .2s;
  }

  .navbar-links.active {
    display: flex;
    background-color: red;
  }

  .grid-container a {
    height: 12em;
  }

  .mobile-nav {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #1d1d1dec;
    color: red;
    transition: .3s;
    opacity: 100;
  }

  .mobile-nav.active {
    display: block;
    left: 0;
    transition: .3s;
  }

  .mobile-nav .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .circle_arrow_down svg {
    display: flex;
    width: 4em;
  }

  .circle_arrow_down {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }


  .first_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    transition: .5s;
  }

  .first_section_item_left {
    width: 5em;
    margin-bottom: 4em;
    margin: 0em 2em 3em 2em;
  }

  .first_section_item_right {
    margin: 0em 2em 8em 2em;
  }


  .first_section_item_left img {
    width: 9em;
    margin: -1.3em 0em 0em 11em;
  }

  .first_section_item_right p {
    font-size: 1em;
    width: 15em;
  }

  .first_section_item_right p:nth-of-type(1) {
    font-size: 1em;
    text-align: start;
  }

  .first_section_item_right p:nth-of-type(2) {
    text-align: start;
    font-size: 1.2em;
  }

  .first_section_item_right p:nth-of-type(3) {
    display: none;
  }

  .first_section_item_left h1 {
    font-size: 1.8em;
    font-weight: 500;
  }

  .second_section {
    height: 60vh;
  }

  .second_section h2 {
    margin-top: 0;
  }

  .second_section_item_left {
    margin: 0em 2em 0em 2em;
  }

  .second_section_item_right {
    display: none;
  }

  .second_section h3 {
    margin-bottom: 0;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    margin: 0em 2em 0em 2em;
  }

  .footer-container .about {
    display: none;
  }

  .footer-container .links {
    justify-content: flex-start;
  }

  .links li {
    margin-bottom: .2em;
  }

  .links li a {
    color: #acacac;
  }

  .copyright-container {
    padding: 1.5em 1.5em 1.5em 1.5em;
  }

  .copyright-text {
    margin-right: 3em;
  }

  .social-icons {
    margin-left: 1em;
    width: 0em;
  }

}